@import 'bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'variables';
@import 'mixins';
@import 'blocs/promo';
@import 'blocs/title';
@import 'blocs/button';
@import 'blocs/sidepanel';
@import 'blocs/menu';
@import 'blocs/about';
@import 'blocs/services';
@import 'blocs/skills';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}